<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WDAC_Wizard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <WDAC_Wizard.Properties.Settings>
            <setting name="useEnvVars" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="useDefaultStrings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="allowTelemetry" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="createMultiPolicyByDefault" serializeAs="String">
                <value>True</value>
            </setting>
        </WDAC_Wizard.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SharpCompress" publicKeyToken="afb0a02973931d96" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.21.0.0" newVersion="0.21.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>